<h1>UR-El Shorto</h1>

<% if (username == null) { %>
  <form action="/login" method="POST" >
    <input type="text" name="username" value="<%= username %>">
    <input type="submit" value="Sign In">
  </form>
<% } else { %>
  <form action="/logout" method="POST" >
      <h6>Welcome  <%= username %> , you handsome devil!</h6>
    <input type="submit" value="Logout">
  </form>
<% }; %>