<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Littler</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
      <div>
        <p><h5>URLs are too long these days, lets do something about it. Click on the link below to shorten your pesky long URLS</h5></p>
      </div>

      <a href="/urls/new">Click Here To Shorten it!</a>

  </body>
</html>