<!DOCTYPE html>
<html lang="en">
<body>
<h1>URL SHortener</h1>
  <ul> <% for (var key in urlDatabase) { %>
        <li> Shortkey: <%= key %> </li>
            <% } %>
        <li><a href="#">URL shortener here </a></li>
    </ul>
</body>
</html>