<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UR-EL Shorto</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
      <a href="/urls">Short URL's</a>
    </header>
    <h2><%= shortURL %></h2>
    <form method="POST" action="/urls/<%= shortURL%>">
      <input type="text" name="longURL" value="<%=longURL%>">
      <input type="submit" value="Edit">
      <a href="/urls" class="btn btn-lrg btn-primary">Back to URLs</a>
    </form>
  </body>
</html>